<div class="add-contact-container">
    <h2>Add Contact</h2>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" formControlName="fullName" />
        <div *ngIf="contactForm.get('fullName')?.invalid && contactForm.get('fullName')?.touched">
          <div class="error-message"  *ngIf="contactForm.get('fullName')?.hasError('required')">Full Name is required.</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="officeNumber">Office Number</label>
        <input type="text" id="officeNumber" formControlName="officeNumber" />
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
          <div class="error-message"  *ngIf="contactForm.get('email')?.hasError('required')">Email is required.</div>
          <div class="error-message"  *ngIf="contactForm.get('email')?.hasError('email')">Invalid email format.</div>
        </div>
      </div>
  
      <button type="submit" [disabled]="contactForm.invalid">Add Contact</button>
    </form>
  </div>
  